@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .adaptive-container {
    @apply mx-auto sm:max-w-screen-md md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl;
  }
}

* {
  box-sizing: border-box;
}

body.disabled-scroll {
  @apply overflow-hidden;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
